.header {
    font-size: 46px;
}

.footer {
    font-size: 10px;
}

.content {
    font-size: 14px;
}

.navigation {
    font-size: 12px;
}

.sidebar {
    font-size: 10px;
}

[class$=r] {
    color:#ff00ff;
}

[class*=a]:not([class$=r]) {
    background:blue;
}

[class] {
    font-weight:bold;
}

